body{
background-image:url(picture/c1.jpg);
box-sizing:border-box;
padding:0;
margin:0;
background-size:100% 750px;
background-attachment:fixed;
}

/*Starts Home Page Heading code*/

div{
width:100%;
height:250px;
background-color:rgba(0,0,0,0.6);
box-sizing:border-box;
padding:30px;
}

.welcome{
color:white;
text-align:center;
font-family:verdana;
font-size:70px;
padding:0;
margin:0;
}

.menu{
width:600px;
height:70px;
box-sizing:border-box;
margin-top:10px;
}

.menu_item{
width:20%;
height:70px;
border:2px;
border-style:solid;
border-color:#ccc;
box-sizing:border-box;
text-align:center;
}

a{
text-decoration:none;
color:white;
font-size:20;
font-family:sans-serif;
}

/*End Home Page Heading code*/

/*Start Home Page Section coding*/

.home_section{
width:700px;
height:450px;
background-color:rgba(0,0,0,0.6);
float:right;
box-sizing:border-box;
}

.logo{
width:150px;
height:150px;
border-width:5px;
border-color:white;
border-style:solid;
margin-top:90px;
}

.logo_text{
font-size:130px;
color:white;
font-family:verdana;
margin-top:-10px;
}

.domain{
color:white;
font-family:verdana;
font-size:30px;
text-align:center;
margin:0;
}

/*End Home Page Section coding*/

/*Start Login Page Heading code*/

.domain_name{
margin:0;
padding:0;
text-align:center;
font-family:sans-serif;
font-size:60px;
color:white;
}
/*End Login Page Heading coding*/

/*Start Login Page Section coding*/

fieldset{
width:380px;
height:250px;
border-width:3px;
border-style:groove;
border-color:white;
margin-top:50px;
margin-left:150px;
}

.login_section{
width:700px;
height:450px;
background-color:rgba(0,0,0,0.6);
float:right;
box-sizing:border-box;

}

legend{
color:white;
font-family:centurygothic;
font-size:30px;
font-weight:bold;
}

.login_form{
color:white;
font-size:20px;
font-family:centurygothic;
}

.user_name{
width:100%;
height:25px;
border:none;
background-color:inherit;
border-width:2px;
border-style:solid;
border-color:white;
margin-top:10px;
}

.password{
width:100%;
height:25px;
border:none;
background-color:inherit;
border-width:2px;
border-style:solid;
border-color:white;
margin-top:10px;
}

.login{
float:right;
width:100px;
height:30px;
border:none;
background-color:inherit;
border-width:2px;
border-color:white;
border-style:solid;
font-family:centurygothic;
color:white;
font-size:20px;
}

/*End Login Page Section coding*/

/*Start signup Heading code*/
body{
background-image:url(picture/c1.jpg)
padding:0px;
margin:0px;
background-size:100% 750px;
box-sizing:border-box;
}

.signup_div{
width:100%;
height:250px;
background-color:rgba(0,0,0,0.6);
}

.signup_name{
color:white;
text-align:center;
font-family:sans-serif;
font-size:60px;
margin:0;
padding:0;
}

.signup_menu{
width:600px;
height:70px;
box-sizing:border-box;
margin-top:-10px;
}

.signup_menuitem{
width:20%;
height:70px;
border-width:2px;
border-color:#ccc;
border-style:solid;
font-family:centurygothic;
font-size:20px;
color:white;
box-sizing:border-box;
}

/*End signup Heading code*/

/*start signup section coding*/
.signup_sec{
width:700px;
height:450px;
background-color:rgba(0,0,0,0.6);
float:right;
box-sizing:border-box;
}

.signup_set{
width:380px;
height:300px;
border-width:3px;
border-style:groove;
border-color:white;
margin-top:50px;
margin-left:150px;
}

.signup_legend{
color:white;
font-family:centurygothic;
font-size:30px;
font-weight:bold;
}


.signup_form{
color:white;
font-size:20px;
font-family:centurygothic;
}

.signup_name{
width:100%;
height:25px;
border:none;
background-color:inherit;
border-width:2px;
border-style:solid;
border-color:white;
margin-top:10px;
font-size:20px;
}

.signup_email{
width:100%;
height:25px;
border:none;
background-color:inherit;
border-width:2px;
border-style:solid;
border-color:white;
margin-top:10px;
font-size:20px;
}

.signup_phone{
width:100%;
height:25px;
border:none;
background-color:inherit;
border-width:2px;
border-style:solid;
border-color:white;
margin-top:10px;
font-size:20px;
}

.signup_submit{
float:right;
width:100px;
height:30px;
border:none;
background-color:inherit;
border-width:2px;
border-color:white;
border-style:solid;
font-family:centurygothic;
color:white;
font-size:20px;
}

/*end signup section coding*/

/*start contact section coding*/
.contact{
font-size:20px;
font-style:normal;
font-family:centurygothic;
line-height:40px;
color:white;
}
/*end contact section coding*/

/*start product section coding*/
.product_section{
width:100%;
height:1900px;
box-sizing:border-box;
border-width:1px;
border-style:solid;
float:left;
overflow:auto;
}

.brand{
width:100%;
height:400px;
float:left;
background-color:rgba(255,255,255,0.8);
box-sizing:border-box;
}

.brand_heading{
text-align:center;
font-family:centurygothic;
font-size:40px;
}

.brand_pic{
width:200px;
height:80px;
border-width:3px;
border-color:black;
box-sizing:border-box;
float:left;
border-style:solid;
margin:40px;
margin-top:0px;
}

.img_brand{
width:200px;
height:80px;
}

.product_search{
width:60%;
height:50px;
box-sizing:border-box;
margin-left:320px;
border:none;
border-width:1px;
border-style:groove;
border-color:#ccc;
padding:10px;
margin-top:10px;
font-size:18px;
}

.zest_div{
width:100%;
height:500px;
box-sizing:border-box;
background-color:rgba(0,0,0,0.6);
float:left;
}

.zest_logo{
color:white;
font-family:centurygothic;
font-size:40px;
text-align:center;
}

.zest_nav{
width:250px;
height:300px;
border-width:2px;
border-style:solid;
border-color:white;
float:left;
box-sizing:border-box;
margin:55px;
margin-top:0px;
}

.zest_img{
width:250px;
height:250px;
box-sizing:border-box;
}

.shop_now{
margin-top:-4px;
width:249px;
height:47px;
box-sizing:border-box;
font-family:sans-serif;
font-size:20px;
}

.a_shop{
text-decoration:none;
color:black;
}

.dove_div{
width:100%;
height:500px;
box-sizing:border-box;
background-color:rgba(0,0,0,0.6);
float:left;
}

.dove_logo{
color:white;
text-align:center;
font-family:centurygothic;
font-size:40px;
}

.dove_nav{
width:250px;
height:300px;
border-width:2px;
border-color:white;
border-style:solid;
float:left;
box-sizing:border-box;
margin:55px;
margin-top:0;
}

.dove_img{
width:250px;
height:250px;
box-sizing:border-box;
}

.persona_div{
width:100%;
height:500px;
background-color:rgb(0,0,0,0.6);
float:left;
box-sizing:border-box;
}

.persona_logo{
color:white;
text-align:center;
font-family:centurygothic;
font-size:40px;
}

.persona_niv{
width:250px;
height:300px;
border-width:2px;
border-color:white;
border-style:solid;
margin:55px;
margin-top:0px;
float:left;
box-sizing:border-box;
}

.amica_div{
width:100%;
height:500px;
background-color:rgba(0,0,0,0.6);
float:left;
box-sizing:border-box;
}

.amica_logo{
color:white;
text-align:center;
font-family:centurygothic;
font-size:40px;
}

.amica_nav{
width:250px;
height:300px;
border-width:2px;
border-color:white;
border-style:solid;
float:left;
box-sizing:border-box;
margin:55px;
margin-top:0px;
}

.amazing_div{
width:100%;
height:500px;
background-color:rgba(0,0,0,0.6);
float:left;
box-sizing:border-box;
}

.amazing_logo{
color:white;
text-align:center;
font-size:40px;
font-family:centurygothic;
}

.amazing_nav{
width:250px;
height:300px;
border-width:2px;
border-color:white;
border-style:solid;
float:left;
box-sizing:border-box;
margin:55px;
margin-top:0px;
}
/*end product section coding*/

/*start product footer coding*/

footer{
width:100%;
height:60px;
background-color:rgba(255,255,255,0.8);
box-sizing:border-box;
float:left;
}

.dev_name{
text-align:center;
font-family:centurygothic;
color:black;
font-size:20px;
}
/*end product footer coding*/